.main ul{
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.main h2{
  font-size: 30px;
  margin: 10px;
}

.main h3{
  font-size: 20px;
  margin: 0px;
}

.main p{
  font-size: 17px;
  margin: 10px 0px 27px 0px;
}

#last{
	margin: 10px 0px 22px 0px;
}

.main img {
  border-radius: 50%;
  width: 190px;
}